.nav-btn {
    background-color: var(--primary-back);
    padding: 10px 20px;
    border-radius: 3vh;
    user-select: none;
    font-size: 3vh;
    border: white 2px solid;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.nav-btn:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: 0 4px 10px var(--shadow-color);
}

.nav-btn:focus {
    color: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: 0 4px 10px var(--shadow-color);
}

@media (max-width: 768px){
 .nav-btn{
    font-size: 2vh;
 }
}