.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2vh;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
    padding-left: 1.9rem;
    gap: 2rem;
}
.res-inner-contact{
    margin-left: 0;
    width: 100%;
}
@media (max-width: 1000px){
    .res-inner-contact{
        font-size:larger;
        width: 100%;
    }
}
@media (max-width: 768px){
    .res-inner-contact{
        font-size:small;
        width: 100%;
    }
}
