.home{
    height: 100vh;
    width: 100vw;
}

.section-1{
    display: flex;
    padding-top: 100px;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    gap: 5vh;
    height: 70vh;
    position: relative;
    font-size: 8vh;
}

.section-1>div{
    display: flex;
    flex-direction: column;
}


.first-slang{
    padding-left: 3vw;
}
.second-slang {
    padding-left: 650px;
}

.section-1 span{
    color: white;
    font-family: 'Permanent Marker';
    user-select: none;
}

.btm-tag{
    position: absolute;
    font-size: 3vh;
    bottom: 10px;
    right: 50px;
}

.sec-1 img{
    object-fit: cover;
}

.res-btn{
    align-self: flex-end;
    margin-right: 6vw;
    background-color: rgba(0, 0, 0, .8);
    padding: 10px 20px;
    border-radius: 2vh;
}

.res-btn a:hover .res-btn{
    background-color: rgba(0, 0, 0, .9);
}

.res-btn a{
    color: white;
    font-family: 'Permanent Marker';
    font-size: 4vh;
    user-select: none;
}

@media(max-width: 1182px){
    .second-slang{
        padding-left: 550px;
    }
}

@media (max-width: 1024px){

    .second-slang{
        padding-left: 300px;
    }
}

@media (max-width: 600px){
    .section-1{
        font-size: 4vh;
        gap: 10px;
    }
    .first-slang{
        padding-left: 25px;
    }
    .second-slang{
        padding-left: 25px;
    }
}