.res{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.res-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    font-size: 5vh;
    background: url("https://media.rainpos.com/Benartex/9488-55.jpg");
    /* background-color: var(--primary-back); */
    padding: 7vh 3vw;
    border-radius: 20px;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
    margin-left: 3vw;
    transition: transform 0.3s;
    filter: contrast(150%) blur(.5px); 
}

.res-inner:hover {
    transform: scale(1.02);
}

.res-inner div{
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
}

.res-inner label {
    font-size: 4vh;
    margin-right: 1vw;
    /* color: black; */
    white-space: nowrap;
}

.res-inner div select{
    border: 2px solid white;
    border-radius: 25px;
    min-width: max-content;
    cursor: pointer;
    padding: 0.5vh 1vw;
    min-width: 14ch; 
    /* color: black; */
    width: fit-content;
    background-color: transparent;
    font-family:'Courier New', Courier, monospace;
    transition: border 0.3s ease-in-out; box-shadow: 0.3s ease-in-out;
}

.res-inner div select:hover {
    border-color:#c11c84;
    box-shadow: 0 0 10px #c11c84;
    color:#c11c84;
}

.res-inner div option{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    cursor: pointer;
}

.res-inner div select:focus {
    outline: none;
    box-shadow: 0 0 10px #c11c84;
}

.go-btn{
    align-self: center;
    background: url("https://www.shutterstock.com/image-illustration/colorful-gold-yellow-chalk-pastel-260nw-1047047281.jpg");
    /* border: 2px solid black; */
}

@media (max-width: 768px){
    .res-inner div{
        gap: 5vw;
        flex-direction: column;
    }
}