.input-container {
    position: relative;
    width: 100%;
}

.admin-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 10px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    font-size: 18px;
    color: #333;
}

/* Adding some gap between inputs */
.section-1 > div {
    margin-bottom: 20px;
}

/* Adjusting input and label styling to match the theme */
.text {
    font-size: 2rem;
    color: white;
    margin-bottom: 5px;
}

.admin-input::placeholder {
    color: #999;
    opacity: 0.7;
}