.file-explorer {
  display: flex;
  min-height: 100vh;
  justify-content: stretch;
}

.left-pane {
  width: 30%;
  background-color: rgba(0, 0, 0, .75);
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 20px;
}

.right-pane {
  width: 70%;
  padding: 20px;
}

.folder-list {
  list-style-type: none;
  margin-top: 10px;
}

.folder-item {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
}

.subject {
  font-weight: bold;
}

.unit-dropdown {
  --hover-color: rgb(27, 255, 11);
}


.unit-dropdown {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: black;
}

.unit-dropdown option {
  background-color: black;

}

.file-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.file-item {
  /* margin-bottom: 10px; */
  padding: 10px 0;
  margin-bottom: -2px;
  border-bottom: white solid 2px;
  display: flex;
  justify-content: center;
}

.file-item:hover a{
  color:var(--hover-color);
}

.file-item {
  border-top: white solid 2px;
}

.file-item a {
  text-decoration: none;
}

.file-item a:hover {
  text-decoration: underline;
}

.file-meta {
  font-size: 12px;
  color: #666;
}

.empty-box {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px){
  
}
