

@font-face {
  font-family: eraser;
  src: url('./assets/EraserRegular.ttf');
}

@font-face {
  font-family: rusty-cage;
  src: url('./assets/Neucha-Regular.ttf');
}


:root {
  --hover-color: #00ffcc;
  --text-color: white;
  --overlay-color: rgba(0, 0, 0, .7);
  --primary-back: rgba(0, 0, 0, .5);
  --shadow-color:  rgba(0, 255, 204, 0.5);;
  --font-family: "eraser";
  --secondary-font: "rusty-cage"
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Permanent Marker', sans-serif;
  color: var(--text-color);
  font-family: var(--font-family);
  user-select: none;
}

body {
  overflow-x: hidden;
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
}
